.logo {
  width: 15%;
  height: 100%;
  border: 1px solid white;
  margin: 2px;

}


@media screen and (max-width:600px) {
  nav .nav-wrapper { 
    height: 120% !important;
  }

}

/*this css fixes a bug where materialize label does not move up on click */
.input-field label{
  pointer-events: all !important;
}

/* change materialize toaster color*/
#toast-container .toast {
  background-color: #ff9800 ;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 15%;
  right:5%;
}
